body {
background-color: #FF8100;
/*background-image: linear-gradient(45deg, #090C0F 25%, transparent 25%, transparent 75%, #090C0F 75%, #090C0F), 
linear-gradient(-45deg, #090C0F 25%, transparent 25%, transparent 75%, #090C0F 75%, #090C0F);
background-size:60px 60px;*/
}

/*
background-color: #eee;
background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-size:60px 60px;*/

#todo {
  width: 600px;
  margin: auto;
  padding-bottom: 100px;
}

.toolbox {
  padding: 50px 0 30px;
  text-align: center;
  margin: auto;
}

input {
  display: inline-block;
}

.add_todo {
  /*color: #A03D6D;*/
  color: #04004D;
  width: 80%;
  font-size: 30px;
  border: none;
  background-color: #FFF2E6;
  /*border-bottom: 3px solid #FFC080;*/

}

::-webkit-input-placeholder { /* WebKit browsers */  color:    #FFCB80; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */    color:    #FFCB80; }
::-moz-placeholder { /* Mozilla Firefox 19+ */       color:    #FFCB80; }
:-ms-input-placeholder { /* Internet Explorer 10+ */ color:    #FFCB80; }

.add_todo:focus {
  outline: none;
}

.sub_new {
  font-size: 30px;
  width: 15%;
  border: none;
  color: #FFC080;
  background-color: #FF9700;
  border-radius: 3px;
}

.sub_new:hover {
  color: #fff;
}

.sub_new:focus {
  outline: none;
}


.todo {
  background-color: #FFF2E6;
  color: #806040;
  font-size: 25px;
  position: relative;
  padding: 1px 1px 1px 15px;
  margin-top: 10px;
  cursor: move;
}


.todo.complete {
  background-color: #FFC080;
  /*background-color: #6763B3;*/  /*nice blue color*/
  color: #806040;
}

.todo p {
  width: 85%;
}

.todo ul {
  position: absolute;
  bottom: -16px;
  right: 0px;
  margin-right: 10px;
  float: right;
  width: 15%;
  text-align: right;
}

.todo li {
  margin-right: 10px;
  display: none;
}

.todo:hover li{
  display: inline-block;
}

.todo i {
  color: #806040;
}

/*.todo a i:hover {
  color: #c0392b;
}*/

.todo:hover {
  /*opacity: .8;*/
}

#nav {
  border-radius: 0 15px 15px 0;
  background-color: #A03D6D;
  width: 15%;
  height: 400px;
  top: 20%;
  left: -13%;
  position: absolute;
  /*font-size: 30px;*/
  color: #fff;
}

#nav p {
  padding-left: 5px;
}

#nav i {
  position: absolute;
  right: 5px;
  top: 45%;
  color: #fff;
  cursor: pointer;
}

/*#nav i:hover {
  color: #C1554A;
}*/