body {
  background-color: #c0392b;
}

#todo {
  width: 60%;
  margin: auto;
}

.toolbox {
  text-align: center;
  margin-top: 30px;
}

.todo {
  background-color: #f39c12;
  color: #fff;
  font-size: 30px;
  position: relative;
  padding: 1px 15px;
  margin-top: 20px;
  cursor: move;
}

.todo ul {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
}

.todo li {
  margin-right: 10px;
  display: none;
}

.todo:hover li{
  display: inline-block;
}

.todo.complete {
  background-color: #e74c3c;
}

.todo:hover {
  /*background-color: #eee;*/
}