body {
  background-color: #e74c3c;
}

#todo {
  width: 700px;
  margin: auto;
  padding-bottom: 100px;
}

.toolbox {
  padding: 50px 0 30px;
  text-align: center;
  margin: auto;
}

input {
  display: inline-block;
}

.add_todo {
  /*color: #A03D6D;*/
  color: #fff;
  width: 80%;
  font-size: 30px;
  border: none;
  background-color: #e74c3c;
  border-bottom: 3px solid #fff;

}

::-webkit-input-placeholder { /* WebKit browsers */  color:    #C1554A; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */    color:    #C1554A; }
::-moz-placeholder { /* Mozilla Firefox 19+ */       color:    #C1554A; }
:-ms-input-placeholder { /* Internet Explorer 10+ */ color:    #C1554A; }

.add_todo:focus {
  outline: none;
}

.sub_new {
  font-size: 30px;
  width: 15%;
  border: none;
  color: #e74c3c;
  background-color: #C1554A;
  border-radius: 3px;
}

.sub_new:hover {
  color: #e74c3c;
  background-color: #A03D6D;
}

.sub_new:focus {
  outline: none;
}


.todo {
  background-color: #A03D6D;
  color: #fff;
  font-size: 25px;
  position: relative;
  padding: 1px 1px 1px 15px;
  margin-top: 10px;
  cursor: move;
}

.todo.complete {
  background-color: #C1554A;
  color: #fff;
}

.todo p {
  width: 85%;
}

.todo ul {
  position: absolute;
  bottom: -16px;
  right: 0px;
  margin-right: 10px;
  float: right;
  width: 15%;
  text-align: right;
}

.todo li {
  margin-right: 10px;
  display: none;
}

.todo:hover li{
  display: inline-block;
}

.todo i {
  color: #fff;
}

/*.todo a i:hover {
  color: #c0392b;
}*/

.todo:hover {
  /*opacity: .8;*/
}

#nav {
  border-radius: 0 15px 15px 0;
  background-color: #A03D6D;
  width: 15%;
  height: 400px;
  top: 20%;
  left: -13%;
  position: absolute;
  /*font-size: 30px;*/
  color: #fff;
}

#nav p {
  padding-left: 5px;
}

#nav i {
  position: absolute;
  right: 5px;
  top: 45%;
  color: #fff;
  cursor: pointer;
}